.gastos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.gastos .formDesk {
    display: none;
}

.gastos .cardsSections {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}


@media(min-width: 1024px) {
    .gastos {
        flex-direction: row;
        justify-content: space-between;
    }

    .gastos .cardsSections {
        width: 48%;
    }

    .gastos .button {
        display: none;
    }

    .gastos .formDesk {
        display: block;
        width: 48%;
        background-color: #FFE39A;
        border-radius: 15px;
        padding: 10px;
        height: 500px;
    }

    .gastos .formDesk .button {
        display: block;
        background-color: #015C91;
        color: #FFC557;
    }

    .gastos .formDesk .form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .gastos .formDesk .form .formRow {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .gastos .formDesk .form .formRow .formInputDiv {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .gastos .formDesk .form .formRow .formInputDiv label {
        cursor: pointer;
    }
}

/* MODAL */
.modalBackdrop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

.modalBackdropActive {
    display: block;
}

.modalGastos {
    position: absolute;
    background-color: #F8F3EA;
    border-radius: 15px;
    padding: 15px;
    width: 80%;
    height: 530px;
    flex-direction: column;
    gap: 50px;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.modalGastos .firstLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modalGastos .firstLine span {
    cursor: pointer;
}

.modalGastos .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modalGastos .form .formRow {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.modalGastos .form .formRow .formInputDiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.modalGastos .form .formRow .formInputDiv label {
    cursor: pointer;
}

