.relatorios {
    margin-top: 20px;
}

.relatorios .grafico, .relatorios .gastos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.relatorios .grafico h3, .relatorios .gastos h3 {
    font-size: 26px;
    font-weight: 400;
}